@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@keyframes fluidGlow {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 0.5;
  }

  33% {
    transform: translate(-45%, -55%) scale(1.2) rotate(120deg);
    opacity: 0.8;
  }

  66% {
    transform: translate(-55%, -45%) scale(0.8) rotate(240deg);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes colorFlow {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(30deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

.animate-fluid-glow {
  animation: fluidGlow 20s infinite ease-in-out;
}

.animate-color-flow {
  animation: colorFlow 10s infinite ease-in-out;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    background-color: #0e0f12;
    color: #e8e8e8;
  }
}